main ul {
    display: grid;
    grid-template-columns: 600px 600px ;

}
main ul li{
        padding-bottom: 20px;
        width: 200px;
        
}

@media only screen and (max-width: 900px){
    
    main ul {
        display: grid;
        grid-template-columns: 600px;

    }
}

