body{
    background-image:url("https://live.staticflickr.com/1747/42547448072_4ef96258f3_h.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
}


.header{
    margin-top:0px;
    color:black;
    font-size:3.5em;
    background-repeat:no-repeat;
    padding-left: 100px;
    margin-bottom:30px;
    height:75px;
    padding-top:10px;
    text-align:center;

    
}
.text{
    font-style: italic;
    color: white;
    background-color:black;
    text-align:center;
}
#lg{
    padding-top:50px;
    text-align:center;
    padding-bottom:30px;
    
}

#bu{
    margin-left:700px;
    
}
.nav1{
    
    
    padding: 20px 20px 20px 20px;
    text-align:center;
    margin-bottom:30px;
    text-decoration:none;


}

.button {
  background-color: aqua; 
  border: none;
  color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  font-style:italic;
  border-radius:20px;
}
.button bc{
    margin-left:200px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: skyblue; 
  color: white;
}

nav ul li{
    display: inline;
    padding-top: 20px;
    padding-right:20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-style: italic;

}

nav ul li a{
    text-decoration: none;
}

ul{
     list-style-type: none;
     
}

.p1{
    font-size: 1.5em;
    font-style: italic;
    color: white;
    background-color:black;
    text-align:center;
    
}


.form-control{
    border: 1px solid black;
}

.slogan ul {
    display: grid;
    grid-template-columns: 500px 690px ;
}

.slogan ul li{
        padding-bottom: 20px;
        margin-right:30px;
        color: red;
        padding-right:20px;
        font-style: italic;
        text-align: center;
        
        
}


@media only screen and (max-width: 900px){
    
    .slogan ul {
        display: grid;
        grid-template-columns: 500px ;
        padding-bottom:20px;
        margin-left:0px;
        padding-left:0px;
        

    }
    nav{
        padding-top:20px;
        margin-top:30px;
    }
    nav ul li{
        display:block;
    }
    
    .header{
        padding-left:0px;
        
        margin-left:0px;
    }
    
    .button bb{
        margin-left:150px;
    }
}

#h2{
    font-size:3em;
    text-align:center;
    color:brown;
    
}
#l1{
    font-size:2.2em;
    text-align:center;
    color:brown;
}

#pic{
    width:100px;
}