@charset "UTF-8";
/*
Theme Name: Brian Koehler One
Theme URI: https://example.com/themes/brian-koehler-one
Author: the Brian Koehler
Author URI: https://langarabrian.gitlab.io
Description: Child theme demo for CPSC 2030
Template: twentyseventeen
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: bk1
Tags: one-column
*/

.home article {
    
    border: solid black 3px;
    margin: 10px;
    padding: 7px;
    
}
.home #post-54{
    background-color: lightblue;
}
.home #post-1{
     background-color: blue;
     color : white;
}

.home #post-1 a{
    color: white;
}

.page-id-18 #post-18 .wp-block-quote{
    border: solid black 3px;
    margin: 10px;
    padding: 7px;
    background-color: lightblue
}

.page-id-18 #post-18 img{
    border: solid black 3px;
}

.page-id-18 #post-18 .entry-title{
   font-size:2em;
}

.page-id-18 .site-content-contain{
    background-color:#5DE8CF;
    margin-left: 200px;

}

.page-id-18 .site-footer{
    background-color:#36E4EB;
    padding-top: 20px;
}